<launch>
    <node name="offline_process" pkg="offline_process" type="offline_process" output="screen">
        <param name="center_data_name" type="string" value="$(find offline_process)/config/generated_path_noise.csv" />
        <param name="child_data_name" type="string" value="$(find offline_process)/config/raw_03.csv" />
        <param name="setting" type="string" value="$(find offline_process)/config/euroc_config.yaml" />

    </node>
<!--
    <node pkg="rosbag" type="play" name="player" output="log" 
    args="/home/tony-ws1/bag/ijrr_euroc_mav_dataset/$(arg sequence_name)/$(arg sequence_name).bag -r 2" />
-->
</launch>
